{{ page_elements }}
  {{ partial:elements }}
{{ /page_elements }}
<header class="w-full max-w-6xl mx-auto mb-40 bg-red-100">
  {{ partial:icons/logo class="block w-200 h-auto mx-auto" }}
</header>

<div class="md:flex w-full min-h-20">
  <div class="md:w-1/2 bg-red-100 overflow-hidden">
    <div class="flex items-center w-full">
      <div class="flex flex-col justify-between shrink-0 w-[30%] lg:w-[50%] 2xl:w-[55%] 3xl:w-[65%] mr-10">
        <div class="w-full h-8 bg-yellow-300 mb-7"></div>
        <div class="w-full h-8 bg-yellow-300"></div>
      </div>
      <div class="text-3xl leading-none font-bold uppercase text-yellow-300 whitespace-nowrap md:w-[40%]">
        Internes
      </div>
    </div>
    <div class="flex items-center w-full">
      <div class="flex flex-col justify-between shrink-0 w-[30%] lg:w-[50%] 2xl:w-[55%] 3xl:w-[65%] mr-10">
        <div class="w-full h-8 bg-yellow-300 mb-7"></div>
        <div class="w-full h-8 bg-yellow-300"></div>
      </div>
      <div class="text-3xl leading-none font-bold uppercase text-yellow-300 whitespace-nowrap md:w-[40%]">
        Wohnangebot
      </div>
    </div>
  </div>
  <div class="md:w-1/2 bg-green-100 mt-20 md:mt-0">
    <div class="max-w-[400px]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed veritatis porro, ipsa eum beatae provident fugiat a eligendi commodi ex recusandae mollitia odit dolorem numquam pariatur, fuga autem dolorum cumque.
    </div>
  </div>
</div>
