{{ if type == 'editor' }}
  {{ partial:layout/inner }}
  <div class="max-w-2xl">
    {{ editor }}
      {{ partial:components/editor }}
    {{ /editor }}
  </div>
  {{ /partial:layout/inner }}
{{ /if }}

{{ if type == 'gallery' }}
  {{ partial:components/media/gallery }}
{{ /if }}

{{ if type == 'jobs' }}
  {{ partial:components/misc/jobs }}
{{ /if }}

{{ if type == 'benefits' }}
  {{ partial:components/misc/benefits }}
{{ /if }}

{{ if type == 'services' }}
  {{ partial:components/misc/services }}
{{ /if }}

{{ if type == 'intro' }}
  {{ partial:components/misc/intro }}
{{ /if }}

{{ if type == 'team' }}
  {{ partial:components/misc/team }}
{{ /if }}

{{ if type == 'downloads' }}
  {{ partial:components/misc/downloads }}
{{ /if }}

{{ if type == 'news' }}
  {{ partial:components/misc/news }}
{{ /if }}

{{ if type == 'teaser_image_text' }}
  {{ partial:components/teaser/image_text }}
{{ /if }}

{{ if type == 'image_text' }}
  {{ partial:components/misc/image_text }}
{{ /if }}

{{ if type == 'accordion' }}
  {{ partial:components/accordion/group }}
{{ /if }}

{{ if type == 'contact_form' }}
  {{ partial:forms/contact_forms }}
{{ /if }}