
{{ if shortcut_jobs || shortcut_menu }}
  <div class="absolute top-100 right-0 bg-red-100">
    {{ if shortcut_jobs }}
      {{ partial:components/misc/shortcut_jobs }}
    {{ /if }}
    {{ if shortcut_menu }}
      {{ partial:components/misc/shortcut_menu }}
    {{ /if }}
  </div>
{{ /if }}

{{ page_elements }}
  {{ partial:elements }}
{{ /page_elements }}

{{ partial:layout/inner has_reveal="true" }}
  {{ collection from="events" as="events" sort="event_date:asc" event_date:is_after="now" }}
    {{ if events }}
      <h2>Kommende Aktivitäten</h2>
      <div class="sm:grid sm:grid-cols-12 sm:gap-x-20 sm:gap-y-30 lg:gap-y-60">
        {{ events }} 
          {{ partial:events/teaser }}
        {{ /events }}
      </div>
    {{ /if }}
  {{ /collection }}

  {{ collection from="events" as="events" sort="event_date:desc" event_date:is_before="now" }}
    {{ if events }}
      <h2 class="mt-60 lg:mt-90">vergangene Aktivitäten</h2>
      <div class="sm:grid sm:grid-cols-12 sm:gap-x-20 sm:gap-y-30 lg:gap-y-60">
        {{ events }} 
          {{ partial:events/teaser }}
        {{ /events }}
      </div>
    {{ /if }}
  {{ /collection }}

{{ /partial:layout/inner }}
