<nav class="text-xs flex text-steel uppercase relative">
  <div class="mt-80 w-[calc(50%_-_100px)]">
    <ul class="flex justify-between">
      {{ nav:main }}
        {{ if index < 3 }}
          {{ partial:menu/desktop/item }}
        {{ /if }}
      {{ /nav:main }}
    </ul>
  </div>
  {{ partial:menu/home class="mt-20 mx-20" }}
  <div class="mt-80 w-[calc(50%_-_100px)]">
    <ul class="flex justify-between">
      {{ nav:main }}
        {{ if index > 2 }}
          {{ partial:menu/desktop/item  }}
        {{ /if }}
      {{ /nav:main }}
    </ul>
  </div>
</nav>
