<article class="sm:grid sm:grid-cols-12 sm:gap-x-20">
  <div class="mb-20 sm:mb-0 sm:col-span-6">
    {{ editor_left }}
      {{ if type == 'button' }}
        {{ partial:components/buttons/primary type="outline" }}
      {{ elseif type == 'button_menue' && menue:file }}
        {{ partial:components/buttons/primary type="outline" target="_blank" button_link="{{ menue:file }}" }}
      {{ elseif type == 'contact_box' }}
        {{ partial:components/misc/contact-box class="max-w-sm" }}
      {{ else }}
        {{ text  }}
      {{ /if }}
    {{ /editor_left }}
  </div>
  <div class="mb-20 sm:mb-0 sm:col-span-6">
    {{ editor_right }}
      {{ if type == 'button' }}
        {{ partial:components/buttons/primary type="outline" }}
      {{ elseif type == 'button_menue' && menue:file }}
        {{ partial:components/buttons/primary type="outline" target="_blank" button_link="{{ menue:file }}" }}
      {{ elseif type == 'contact_box' }}
        {{ partial:components/misc/contact-box class="max-w-sm" }}
      {{ else }}
        {{ text }}
      {{ /if }}
    {{ /editor_right }}
  </div>
</article>
