
{{ partial:layout/inner }}

<section class="lg:w-1/2">
  {{ nocache }}
    {{ form:contact_general }}

    {{ if errors }}
      {{ partial:forms/elements/errors }}
    {{ /if }}

    {{ if success }}
      {{ partial:forms/elements/success }}
        Vielen Dank für Ihre Anfrage.
      {{ /partial:forms/elements/success }}
    {{ /if }}

    {{ partial:forms/elements/group }}
      {{ fields }}
        {{ partial:forms/elements/field }}
      {{ /fields }}
      {{ partial:forms/elements/button label="Absenden" }}
    {{ /partial:forms/elements/group }}

  {{ /form:contact_general }}
  {{ /nocache }}
</section>
{{ /partial:layout/inner }}
