{{ if type == 'select' }}
  <div class="{{ if error }} has-error {{ /if }}">
    {{ field }}
  </div>
{{ elseif type == 'textarea' }}
  <div class="{{ class }} {{ if error }} has-error {{ /if }}">
    {{ partial:forms/elements/label }}
      {{ display }}
    {{ /partial:forms/elements/label }}
    {{ field }}
  </div>
{{ elseif type == 'toggle'}}
  <div class="checkboxes mt-5 mb-15 {{ class }} {{ if error }} has-error {{ /if }}">
    {{ field }}
  </div>
{{ else }}
  <div class="{{ class }} {{ if error }} has-error {{ /if }}">
    {{ partial:forms/elements/label }}
      {{ display }}
    {{ /partial:forms/elements/label }}
    {{ field }}
  </div>
{{ /if }}