<div 
  data-accordion-index="{{ index }}" 
  class="accordeon-item relative mb-15 scroll-mt-180">
  <button 
    type="button" 
    class=" w-full pb-15 text-left"
    @click="selected !== {{ index }} ? selected = {{ index }} : selected = null; setTimeout(() => { document.querySelector('[data-accordion-index=\'{{ index }}\']').scrollIntoView()}, 15);">
    <div class="flex items-center justify-between pr-0 lg:pr-15">
      <h3>
        {{ title }}
      </h3>
      <template x-if="selected !== {{ index }}">
        {{ partial:icons/chevron-down class="accordeon-chevron w-16 lg:w-18 h-auto shrink-0" }}
      </template>
      <template x-if="selected === {{ index }}">
        {{ partial:icons/chevron-up class="accordeon-chevron w-16 lg:w-18 h-auto shrink-0" }}
      </template>
    </div>
  </button>
  <div 
    class="relative overflow-hidden max-h-0"
    x-ref="container{{ index }}" 
    x-bind:style="selected == '{{ index }}' ? 'max-height: ' + $refs.container{{ index }}.scrollHeight + 'px;' : ''">
      <div class="mb-20 lg:mb-40">
        {{ slot }}
      </div>
  </div>
</div>

