{{ partial:layout/inner }}
  
  <h2>{{ "Offene Stellen" | trans }}</h2>

  {{ collection from="jobs" as="jobs" }}

    {{ if no_results }}

      <p class="sm:col-span-6">{{ "Im Moment haben wir alle Stellen besetzt." | trans }}</p>

    {{ else }}

      {{ partial:components/accordion/wrapper }}

        {{ jobs }}

          {{ partial:components/accordion/item :title="title" }}

            <h3 class="mb-15 lg:mb-30">
              {{ subtitle }}
            </h3>

            <article class="sm:grid sm:grid-cols-12 sm:gap-x-20">

              {{ if text_left }}
                <div class="mb-20 sm:mb-0 sm:col-span-6">
                  {{ text_left }}
                </div>
              {{ /if }}

              {{ if text_right }}
                <div class="mb-20 sm:mb-0 sm:col-span-6">
                  {{ text_right }}
                </div>
              {{ /if }}

              {{ if file }}
              <div class="sm:col-span-full mt-15 lg:mt-30">
                {{ partial:partials/components/buttons/primary 
                    type="outline" 
                    button_text="Stellenbeschreibung (PDF)" 
                    :button_link="file:url"
                    target="_blank"
                    class="px-15 lg:px-20" }}
              </div>
              {{ /if }}

            </article>

          {{ /partial:components/accordion/item }}

        {{ /jobs }}

      {{ /partial:components/accordion/wrapper }}

    {{ /if }}

  {{ /collection }}

{{ /partial:layout/inner }}